apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-consul-v1
  namespace: kube-system
  labels:
    k8s-app: kube-consul
    version: v1
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: kube-consul
    version: v1
  template:
    metadata:
      labels:
        k8s-app: kube-consul
        version: v1
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
      - name: kube2consul
        image: mkozinenko/kube2consul
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
        args:
        - --consul-agent=http://127.0.0.1:8500
        - --kube-master=https://127.0.0.1:443
        - --kube-auth=user,pass
        - --consul-token=some-token
        securityContext:
          privileged: true
      dnsPolicy: Default
      hostNetwork: true
